:root {
    --main-color: #eee2dc;
    --navbar-color: #edc7b7;
}

/*LOGO*/
.logo {
    padding: 2vh;
    align-self: center;
    margin: 0 auto;
    background-color: #edc7b7;
    transition: 0.3s;
}

#homepage {
    font-family: "Noto Serif Display", serif;
    font-size: 5vw;
    text-decoration: none;
    color: black;
    display: inline-block;
    border-bottom: 1px solid transparent;
}

#homepage:hover {
    border-bottom: 1px solid black;
}

/* NAVIGATION BAR */
nav {
    background-color: #bab2b5;
}

.navigationbar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

.navigationbar a {
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: vw;
}

.nav-container {
    display: flex;
    background-color: #edc7b7;
}

#mobileLinks {
    display: none;
    background-color: #edc7b7;
    text-align: center;
}

.mobilenav a {
    color: black;
    text-decoration: none;
    font-family: "Oswald";
    font-size: 2vw;
    display: grid;
    grid-template-columns: 1fr;
    padding: 12px;
    border-bottom: 0.5px solid rgba(50, 50, 50, 0.1);
}

.burger {
    color: black;
    position: relative;
    align-self: center;
    display: none;
}


@media screen and (max-width:800px) {
    .navigationbar {
        display: none;
    }

    .burger {
        display: block;
    }

    .logo {
        padding: 2vw 2vw 2vw 10vw;
    }
}

/*remove space between nav bar and body*/
body {
    margin: 0;
    background-color: #eee2dc;
}

/*header styles*/
nav a {
    color: black;
    text-decoration: none;
    font-family: "Oswald";
    font-weight: lighter;
    font-size: 1.5em;
}

/*highlight button when hovering*/
nav a:hover {
    background-color: #ac3b61;
    color: white;
}

/* Add a background color to the top navigation */
.navigationbar {
    background-color: var(--navbar-color);
    overflow: hidden;
}

/*===================================================*/

/*FOOTER*/
footer {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* align-items: center; */
    background-color: #123c69;
    color: white;
    font-family: "Oswald";
    padding: 2em 0;
}

#footer-logo {
    font-family: "Noto Serif Display", serif;
    font-size: 2em;
    text-decoration: none;
    margin: 0;
}

footer ul a {
    color: white;
}

@media screen and (max-width:800px) {
    footer {
        grid-template-columns: 1fr;
    }
}

/* social media icons */

.fa {
    padding: 15px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0px 2px;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* remove underline for all links */
a {
    text-decoration: none;
}

/*BANNER*/
.food-banner {
    display: flex;
    justify-content: center;
    padding: 2em;
    background-color: #123c69;
    margin: 0;
    font-family: "Noto Serif Display";
    font-size: 2.5em;
    font-weight: lighter;
    color: white;
    text-align: center;
}

/*Grid container for main content*/
.main-content {
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4];
    grid-template-rows: 1fr min-content min-content min-content [last];
    column-gap: 50px;
    row-gap: 30px;
    margin: 20px 50px;
}

/*Grid items*/
.side-column-container {
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: 1;
    grid-row-end: last;
    margin: 10px auto;
    width: 100%;
}

.popular-articles {
    background-color: #ac3b61;
    text-align: center;
    padding: 10px 10px;
    color: white;
    margin: 0 10px;
}

.popular-articles h3 {
    margin: 0;
    padding: 10px;
    font-weight: 100;
    font-family: "Oswald";
}

.popular-articles h4 {
    word-wrap: break-word;
    font-weight: 100;
    font-family: "Noto Serif Display";
    margin: 0;
    padding: 0 0 20px 0;
    color: white;
    text-decoration: none;
}

.popular-articles h4:hover {
    text-decoration: underline;
}

.side-article {
    padding: 0 10px;
}

.side-img-container {
    position: relative;
    padding-top: 56.25%;
}

.side-article img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
}

.trending-container {
    grid-column-start: col2;
    grid-column-end: col4;
    margin: 10px 0;
}

.trending {
    padding: 10px 20px;
    background-color: #bab2b5;
    color: white;
    transition: box-shadow .3s;
}

.trending:hover {
    box-shadow: 0 0 10px rgba(50, 50, 50, .7);
}

.trending h3 {
    margin: 0;
    padding: 10px 0;
    font-family: "Oswald";
    font-weight: 100;
    color: white;
}

.trending-img-container {
    overflow: hidden;
    position: relative;
    padding-top: 56.25%;
}

.trending img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    transition: ease-in-out 0.3s;
}

.trending:hover img {
    transform: scale(1.02);
}

.trending h2 {
    font-family: "Noto Serif Display";
    font-weight: 100;
    font-size: 40px;
    margin: 10px 0;
    transition: 0.3s;
    color: white;
}

.trending h2:hover {
    color: black;
}

.trending p {
    font-family: "Noto Serif Display";
}

.articles {
    background-color: #bab2b5;
    padding: 20px 20px;
    color: white;
    transition: box-shadow 0.3s;
}

.articles:hover {
    box-shadow: 0 0 10px rgba(50, 50, 50, .7);
}

.article-img-container {
    overflow: hidden;
    position: relative;
    padding-top: 56.25%;
}

.articles:hover img {
    transform: scale(1.02);
}

.article-img-container img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    transition: ease-out 0.2s;
}

.article-title {
    font-family: "Noto Serif Display";
    font-weight: 100;
    font-size: 25px;
    margin: 10px 0;
    transition: 0.3s;
    color: white;
}

.article-title:hover {
    color: black;
}

.articles p {
    font-family: "Noto Serif Display";
}

.hidden {
    display: none;
}

#show-hide {
    grid-column: col2 / col4;
    border: none;
    background: none;
    margin: 0 auto;
    padding: 10px 15px;
    font-family: "Oswald";
    font-size: 20px;
    font-weight: 100;
    background-color: #bab2b5;
    color: white;
    transition: ease-in-out 0.2s;
}

#show-hide:hover {
    box-shadow: 0px 0px 10px rgb(50, 50, 50, 0.2);
    background-color: #ac3b61;
}

/* MEDIA QUERIES FOR MOBILE DEVICES */
/* IPHONE 12 PRO, SAMSUNG GALAXY S20 ULTRA */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    .side-column-container {
        display: none;
    }

    .main-content {
        display: block;
    }

    .trending {
        background-color: #ac3b61;
    }

    .trending:hover {
        box-shadow: none;
    }

    .trending h2:hover {
        color: white;
    }

    .articles {
        margin: 10px 0;
    }

    .articles:hover {
        box-shadow: none;
    }

    .article-title:hover {
        color: white;
    }

    .articles:hover img {
        transform: none;
    }

}

/* IPHONE SE, IPHONE XR, PIXEL 5 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

    .side-column-container {
        display: none;
    }

    .main-content {
        display: block;
        
    }

    .trending {
        background-color: #ac3b61;
    }

    .trending:hover {
        box-shadow: none;
    }

    .trending h2:hover {
        color: white;
    }

    .articles {
        margin: 10px 0;
    }

    .articles:hover {
        box-shadow: none;
    }

    .article-title:hover {
        color: white;
    }

    .articles:hover img {
        transform: none;
    }

}

/* SAMSUNG GALAXY S8+ */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .side-column-container {
        display: none;
    }

    .main-content {
        display: block;
    }

    .trending {
        background-color: #ac3b61;
    }

    .trending:hover {
        box-shadow: none;
    }

    .trending h2:hover {
        color: white;
    }

    .articles {
        margin: 10px 0;
    }

    .articles:hover {
        box-shadow: none;
    }

    .article-title:hover {
        color: white;
    }

    .articles:hover img {
        transform: none;
    }

}


  