:root {
    --main-color: #eee2dc;
    --navbar-color: #edc7b7;
}

/*LOGO*/
.logo {
    padding: 2vh;
    align-self: center;
    margin: 0 auto;
    background-color: #edc7b7;
    transition: 0.3s;
}

#homepage {
    font-family: "Noto Serif Display", serif;
    font-size: 5vw;
    text-decoration: none;
    color: black;
    display: inline-block;
    border-bottom: 1px solid transparent;
}

#homepage:hover {
    border-bottom: 1px solid black;
}

/* NAVIGATION BAR */
nav {
    background-color: #bab2b5;
}

.navigationbar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

.navigationbar a {
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: vw;
}

.nav-container {
    display: flex;
    background-color: #edc7b7;
}

#mobileLinks {
    display: none;
    background-color: #edc7b7;
    text-align: center;
}

.mobilenav a {
    color: black;
    text-decoration: none;
    font-family: "Oswald";
    font-size: 2vw;
    display: grid;
    grid-template-columns: 1fr;
    padding: 12px;
    border-bottom: 0.5px solid rgba(50, 50, 50, 0.1);
}

.burger {
    color: black;
    position: relative;
    align-self: center;
    display: none;
}


@media screen and (max-width:800px) {
    .navigationbar {
        display: none;
    }

    .burger {
        display: block;
    }

    .logo {
        padding: 2vw 2vw 2vw 10vw;
    }
}

/*remove space between nav bar and body*/
body {
    margin: 0;
    background-color: #eee2dc;
}

/*header styles*/
nav a {
    color: black;
    text-decoration: none;
    font-family: "Oswald";
    font-weight: lighter;
    font-size: 1.5em;
}

/*highlight button when hovering*/
nav a:hover {
    background-color: #ac3b61;
    color: white;
}

/* Add a background color to the top navigation */
.navigationbar {
    background-color: var(--navbar-color);
    overflow: hidden;
}

/*===================================================*/

/*FOOTER*/
footer {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* align-items: center; */
    background-color: #123c69;
    color: white;
    font-family: "Oswald";
    padding: 2em 0;
}

#footer-logo {
    font-family: "Noto Serif Display", serif;
    font-size: 2em;
    text-decoration: none;
    margin: 0;
}

footer ul a {
    color: white;
}

@media screen and (max-width:800px) {
    footer {
        grid-template-columns: 1fr;
    }
}

/* social media icons */

.fa {
    padding: 15px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0px 2px;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* remove underline for all links */
a {
    text-decoration: none;
}

/*BANNER*/
.recipes-banner {
    background-color: #123c69;
}

.recipes-banner-title {
    display: flex;
    justify-content: center;
    padding: 2em 2em 0.5em 2em;
    margin: 0;
    font-family: "Noto Serif Display";
    font-size: 2.5em;
    font-weight: lighter;
    color: white;
    text-align: center;
}

.intro {
    border-top: 1px solid white;
    margin: 0 auto;
    padding: 10px 0 30px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Noto Serif Display";
    color: white;
    font-weight: 100;
    width: 60%;
}

.recipes {
    margin: 20px auto;
    width: 70%;
}

.recipe {
    background-color: #bab2b5;
    margin: 30px 0;
}

.recipe h2 {
    text-align: center;
    font-family: "Noto Serif Display";
    font-weight: lighter;
    font-size: 5vw;
    margin: 10px;
}

.recipe img {
    object-fit: cover;
    width: 100%;
    height: 30vw;
}

/*like and comment buttons*/
.post-interaction {
    margin: 0 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 21px;
}

/*like button*/
.interactbtns {
    color: white;
    cursor: pointer;
    display: inline-block;
    justify-content: flex-end;
    vertical-align: center;
    /* font-family: "Oswald";
    font-weight: 100; */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.fa-thumbs-up:hover {
    color: black;
}

#like-area {
    margin: 5px 0;
    display: flex;
}

#like-button {
    padding: 0;
    margin: auto 10px;
}

.count {
    font-size: 16px;
    font-family: "Oswald";
    padding: 0;
    margin: 0 2px;
}

/*comment button and comment pop-up*/
/* Button used to open the chat form - fixed at the bottom of the page */
.comment {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
}

#comment-button {
    padding: 0;
    margin: 0 10px;
}

#comment-area {
    display: flex;
}

.fa-comment {
    color: white;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    outline: none;
}

.fa-comment:hover {
    color: black;
}

/* The popup chat - hidden by default */

.comment-popup {
    display: none;
    position: absolute;
    border: 3px solid #f1f1f1;
    z-index: 1;
}

.comment-popup h4 {
    margin: 0 auto;
    font-family: "Noto Serif Display";
}

.comment-popup label {
    font-family: "Oswald";
    font-weight: 100;
    font-size: 17px;
}

/* Add styles to the form container */
.comment-form {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width textarea */
.comment-form textarea {
    width: 100%;
    padding: 0;
    margin: 5px 0 0 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.comment-form textarea:focus {
    background-color: #ddd;
    outline: none;
}

.alert {
    display: none;
    font-family: "Oswald";
    width: 100%;
    cursor: default;
    font-weight: 100;
    font-size: 17px;
}

/* Set a style for the submit/login button */
.comment-form .send {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.comment-form .fa-window-close {
    background: none;
    border: 0;
    padding: 0;
    float: right;
}

/* Add some hover effects to buttons */
.comment-form .send:hover,
.open-button:hover {
    opacity: 1;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    color: white;
    cursor: pointer;
    padding: 0 18px 18px 18px;
    width: 100%;
    border: none;
    text-align: center;
    font-family: "Oswald";
    font-size: 15px;
    background-color: #bab2b5;
}

.collapsible:after {
    content: '\0276F';
    /* Unicode character for "plus" sign (+) */
    display: inline-block;
    transform: rotate(90deg);
    font-size: 13px;
    color: white;
    /* float: right; */
    margin-right: 10px;
    margin-top: 5px;
}

.active:after {
    content: "\0276F";
    /* Unicode character for "minus" sign (-) */
    transform: rotate(-90deg);
}

/* .active,
.collapsible:hover {
    background-color: #bab2b5;
} */

.content {
    box-sizing: border-box;
    background-color: white;
    padding: 0px 25px;
    overflow: hidden;
    max-width: 900px;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    font-family: "Noto Serif Display";
    font-weight: 100;
}

.content h3 {
    font-size: 25px;
    margin: 20px 0 0 0;
}

.content .fa-clock-o {
    padding: 0 10px 0 0;
}

.content h4 {
    font-size: 20px;
}

.content h5 {
    margin: 20px 0 0 0;
}

.list {
    font-family: "Oswald";
}

.list li {
    word-wrap: break-word;
}

/* MEDIA QUERIES FOR MOBILE DEVICES */
/* IPHONE 12 PRO, SAMSUNG GALAXY S20 ULTRA */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
      .recipe img {
          height: 40vw;
      }
}

/* IPHONE SE, IPHONE XR, PIXEL 5 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .recipe img {
        height: 40vw;
    }
}

/* SAMSUNG GALAXY S8+ */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .recipe img {
        height: 40vw;
    }
}


  